<h1><%= @doctor.name %> MD</h1>

<p>Doctor Specialty: <%= @doctor.specialty %></p>
<p>Graduate of: <%= @doctor.university %></p>

<p>Hospital: <%= @doctor.hospital.name %></p>

<p>List of all patients: <% @doctor.patients.each do |patient| %></p>
  <section id="patient-<%= patient.id %>">
  <p><%= patient.name %>
  <%= button_to 'Remove Patient', "/doctors/#{@doctor.id}/patients/#{patient.id}", method: :delete  %></p>
  </section>
<% end %>